body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  input {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #movieInfoContainer {
    display: none;
    margin-top: 20px;
  }
  
  #movieTitleDisplay {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  p {
    margin: 5px 0;
    color: #666;
  }
  
  #moviePoster {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
    